[run]
branch = True
source =
    pymysql


[report]
exclude_lines =
    pragma: no cover
    except ImportError:
    if DEBUG:
    def __repr__
    def __str__
    raise NotImplementedError
    def __getattr__
    raise ValueError
