sudo: false
language: python
python: "3.4"
cache:
    pip: true


env:
    matrix:
        - TOX_ENV=py26
        - TOX_ENV=py27
        - TOX_ENV=py33
        - TOX_ENV=py34
        - TOX_ENV=pypy
        - TOX_ENV=pypy3

matrix:
    include:
        - addons:
             mariadb: 5.5
          env: TOX_ENV=py27
        - addons:
             mariadb: 10.0
          env: TOX_ENV=py33
        - addons:
             mariadb: 10.1
          env: TOX_ENV=py34
        - env:
             - TOX_ENV=py34
             - DB=5.6.26
          addons:
              apt:
                 packages:
                     - libaio-dev
          python: 3.3
          cache:
              directories:
                  - ${HOME}/mysql
        - env:
             - TOX_ENV=py34
             - DB=5.7.8-rc
          addons:
              apt:
                 packages:
                     - libaio-dev
          python: 3.4
          cache:
              directories:
                  - ${HOME}/mysql

# different py version from 5.6 and 5.7 as cache seems to be based on py version

# http://dev.mysql.com/downloads/mysql/5.7.html has latest development release version

# really only need libaio1 for DB builds however libaio-dev is whitelisted for container builds and liaio1 isn't

install:
    - pip install -U tox coveralls

before_script:
    - ./.travis.initialize.db.sh;
    - mysql -e 'create database test_pymysql  DEFAULT CHARACTER SET utf8 DEFAULT COLLATE utf8_general_ci;'
    - mysql -e 'create database test_pymysql2 DEFAULT CHARACTER SET utf8 DEFAULT COLLATE utf8_general_ci;'
    - mysql -u root -e "create user travis_pymysql2 identified by 'some password'; grant all on test_pymysql2.* to travis_pymysql2;"
    - mysql -u root -e "create user travis_pymysql2@localhost identified by 'some password'; grant all on test_pymysql2.* to travis_pymysql2@localhost;"
    - mysql -e 'select VERSION();'
    - rm -f ~/.my.cnf # set in .travis.initialize.db.sh for the above commands - we should be using database.json however
    - export COVERALLS_PARALLEL=true

script:
    - tox -e $TOX_ENV

after_success:
    - coveralls

after_failure:
    - cat /tmp/mysql.err
